/* Wave.css */
.wave-image {
    background-color: #110e0ede;
      width: 100%;
      height: auto; /* Maintain the aspect ratio */
      display: block; /* Remove any extra space below the image */
    }
    