.title {
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 2rem; /* Larger title for prominence */
  font-weight: bold; /* Bold title for emphasis */
  padding: 2rem;
}

.title .economic {
  color: #e0e0e0; /* White color for ECONOMIC */
}

.title .calendar {
  color: #91C43B; /* Green color for CALENDAR */
}
.economicCalendarContainer {
  background-color: #1a1d22; /* Background color */
}
/* EconomiccalendarComponent.module.css */
.tradingViewScreenerWidget {
  height: 450px; /* Set the desired height here */
  background-color: #1a1d22; /* Ensure background color matches your theme */
  border: 1px solid #eee; /* Optional: border style for better visibility */
}
