.ts {
  background-color: #141111;
  height: 200vh;
}

.tsu {
  background-color: #141111;
  width: min(1400px, 90vw);
  margin: auto;
  padding: 50px;
  position: relative;
  height: 200vh;
  font-size: medium;
}


@media screen and (max-width: 1299px) {
 .tsu{
  font-size: small;
  height: auto;
 }
}

@media screen and (max-width: 1023px) {
  .grid-2 {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .colo{
    display: none;
  }
  .grid-2 div:nth-child(1) {
    margin-top: 120px;
    grid-row: 7;
  }
  .grid-2 div:nth-child(2) {
    margin-top: 0px;
    grid-column: 2 / 7;
    grid-row: 1;
  }
  .grid-2 div:nth-child(3) {
    grid-row: 6;
    margin-top: 0px;
  }

  .grid-2 div:nth-child(4) {
    margin-top: 0px;
    grid-row: 5;
  }
}



.grid-2 {

  --row: 8;
  font-size: 1.7em;
}

.grid-2 div:nth-child(1) {
  margin-top: -300px;
  grid-column: 1 / 4;
  grid-row: 3;
}

.grid-2 div:nth-child(2) {
  margin-top: 250px;
  grid-column: 4 / 7;
  grid-row: 1;
}

.grid-2 div:nth-child(3) {
  margin-top: 540px;
  grid-column: 4 / 7;
  grid-row: 4;
}

.grid-2 div:nth-child(4) {
  margin-top: -80px;  
  grid-column: 1 / 4;
  grid-row: 6;
  
}





.show {
  margin-top: 0px;
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
  font-weight: lighter;
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


.colo{
  width: auto;
  height: 1000px;
  background-image: radial-gradient(closest-side, rgba(70, 41, 9, 0.082), #e100ff00);
  position: absolute;
  top: -50px;
  left: 40%;
  overflow-x: hidden;
}
