.title {
  font-size: 2rem; /* Larger title for prominence */
  font-weight: bold; /* Bold title for emphasis */
  padding: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.title .economic {
  color: #e0e0e0; /* White color for ECONOMIC */
}

.title .calendar {
  color: #91C43B; /* Green color for CALENDAR */
}
.economicCalendarContainer {
  margin-top: -29px;
  background-color: #000000; /* Background color */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the content horizontally */
  justify-content: center;
  width: 100%; /* Full width of the parent container */
  padding: 20px;
}
/* EconomiccalendarComponent.module.css */
.economicCalendarWidget {
  width: 95%; /* Set width to control the size of the widget */
  max-width: 1500px; /* Max width to prevent excessive stretching on large screens */
  height: 450px;
  padding-left: 150px;
}
