.outside {
  background-color: black;
}

.inside {
  background-color: black;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(var(--row), 100px);
  margin-top: 0px;
  gap: 40px;
}
.grid-1 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text inside the section */
}
/*the graph image*/
.retro {
  padding-top: 30px;
  background-color: #000000;
  width: 100%;
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any extra space below the image */
}

.center-container {
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  height: 40vh; /* Full viewport height, adjust as needed */
  margin-top: -500px;
}

.autoRotate {
  animation: autoRotateAnimation;
  animation-timeline: view();
}

/*size of the bull image*/
.grid-1 figure:nth-child(2) {
  grid-column: 3 / 5;
  grid-row: 1;
  width: 500px;
  height: 500px;
  margin-top: -630px;
}

/*Bullish text*/
.grid-1 h2:nth-child(3) {
  color: white;
  margin-top: -10px;
  font-size: 5em;
  grid-column: 1 / 7;
  text-align: center;
  grid-row: 5;
  z-index: 1;
  margin-bottom: 100px;
}



@keyframes autoRotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.autoShow {
  margin-top: 0px;
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.highliht {
  position: relative;
  background-color: rgba(53, 168, 0, 0.3);
  border-radius: 40px 60px 15px 60px;
  padding: rem(4px) rem(12px);
}

.highlit {
  position: relative;
  background-color: rgba(255, 16, 16, 0.3);
  border-radius: 40px 60px 15px 60px;
  padding: rem(4px) rem(12px);
}

@media screen and (max-width: 1552px) {
  .grid-1 figure:nth-child(2) {
    width: 400px;
    height: 400px;
    margin-top: -550px;
  }
  .retro {
    padding-top: 130px;
  }
}

@media screen and (max-width: 1383px) {
  .grid-1 figure:nth-child(2) {
    margin-top: -450px;
  }
  .retro {
    padding-top: 130px;
  }
}

@media screen and (max-width: 1210px) {
  .grid-1 figure:nth-child(2) {
    width: 350px;
    height: 350px;
    padding-top: -220px;
  }

  .grid-1 h2:nth-child(3) {
    font-size: 4rem;
  }
}

@media screen and (max-width: 950px) {
  .grid-1 figure:nth-child(2) {
    padding-top: -180px;
  }
  .grid-1 h2:nth-child(3) {
    font-size: 3rem;
  }
}
@media screen and (max-width: 879px) {
  .grid-1 h2:nth-child(3) {
    font-size: 2.5rem;
    margin-top: -50px;
  }
  .grid-1 figure:nth-child(2) {
    width: 250px;
    height: 250px;
    margin-top: -350px;
  }
}




@media screen and (max-width: 773px) {
  .grid-1 figure:nth-child(2) {
    margin-top: -350px;
  }
}
@media screen and (max-width: 565px) {
  .grid-1 figure:nth-child(2) {
    margin-top: -300px;
  }
}
@media screen and (max-width: 555px) {
  .grid-1 figure:nth-child(2) {
    width: 200px;
    height: 200px;
    margin-top: -270px;
  }
}