.color{
    width: 800px;
    height: 700px;
    background-image: radial-gradient(closest-side, rgba(171, 6, 204, 0.137), #e100ff00);
    position: absolute;
    top: -50px;
    left: 40%;
}



.tradesection {
    background-color: #000000; /* Set background color to black for the entire section */
    color: white; /* Set text color to white for contrast */
    padding: 2rem 1.5rem; /* Add padding to the section for spacing */
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.tradecontainer {
    margin: 0 auto;
    max-width: 1280px; /* max-w-7xl in Tailwind */
    margin-top: 4rem; /* mt-48 in Tailwind */
    margin-bottom: 4rem; /* mb-16 in Tailwind */
    position: relative;
}

.grid {
    display: grid;
    gap: 1rem; /* gap-x-5 in Tailwind */
    grid-template-columns: 1fr 1fr;
}

.imagecolumn {
    display: flex;
    justify-content: flex-start; /* Aligns image to the start of the column */
    align-items: center;
}

.imagecolumn img {
    width: auto; /* Revert to original width */
    height: 80%; /* Maintain aspect ratio */
}

.textcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text vertically */
    align-items: flex-start; /* Align text to the start of the column */
    text-align: left; /* Align text to the left */
    padding-left: 1.5rem; /* Optional: Add padding to the left for spacing */
}

.heading {
    font-size: 3.5rem; /* text-3xl in Tailwind */
    font-weight: 600; /* font-semibold in Tailwind */
    color: #ffffff; /* Adjust based on your theme */
    margin-bottom: 3rem;
    margin-top: -2rem; /* mb-6 in Tailwind */
}

.textcolumn p {
    font-size: 1.125rem; /* lg:text-lg in Tailwind */
    color: #a0aec0; /* Adjust based on your theme */
    margin-bottom: 4rem; /* mb-16 in Tailwind */
}

.iconcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.iconcontainer img {
    width: 100%;
    height: 70px;
}

.verticalline {
    border-left: 1px solid #696764; /* Adjust color as necessary */
    height: 30px; /* Consistent height for vertical lines */
    margin: 0 1rem; /* Space between icons */
}

.highlight {
    position: relative;
    background-color: rgba(255, 95, 2, 0.3);
    border-radius: 20px 10px 15px 30px;
    padding: rem(4px) rem(12px);
  }
  