.header {
  justify-content: space-between;
  position: sticky;
  height: rem(66px);
  background-color: black;
  top: 0;
  z-index: 10;
  transition: background 0.3s ease;
}

.inner {
  height: rem(66px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1349px) {
    padding: 0px 50px 0px 50px;
}
}
.hidden {
  display: none;
}

.search {
  border-radius: var(--mantine-radius-lg); /* Optional: adjust border radius if needed */
  width: 400px; /* Increase the width as needed */
}

.search input {
  color: white; /* Ensure the text color is readable */
}

.scrolled {
  top: 10px;
  background: rgba(0, 0, 0, 0.7); /* Transparent black background */
  backdrop-filter: blur(5px); /* Blurred background */
  width: 70%; /* Desired width */
  margin: 0 auto; /* Center horizontally */
  justify-content: center;
  padding: 0 10px; /* Optional: Add padding to avoid content touching the edges */
  border-radius: 50px;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: white;
  font-size: calc(var(--mantine-font-size-sm) * 1.1);
  font-weight: 500;
}

.logo {
  width: 180px;
  height: auto; /* or specify a height if needed */
}

.linkLabel {
  margin-right: rem(5px);
}

.link:hover {
  background-color: #424242;
}

.right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.butt {
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.butt:hover {
  transform: scale(1.1);
}

.menuDropdown {
  background-color: #1f1f1f;
  border: 1px solid #61574f52;
}

.menuItem {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 20px;
}

.menuItem:hover {
  background-color: #424242;
}

.linkLabel {
  font-size: 16px;
}

/* Additional CSS to position the nested dropdown outside */
.menuDropdownRight {
  background-color: #1f1f1f;
  position: absolute;
  margin-top: -60px;
  margin-left: 150px;
}

.itemdrop {
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
}

.menuDropdown::before {
  content: '';
  position: absolute;
  top: -5px; /* Adjust based on your needs */
  left: 10px; /* Adjust based on your needs */
  width: 10px;
  height: 10px;
  background-color: #1f1f1f;
  transform: translateX(500%) rotate(45deg);
  border-top: 1px solid #61574f52;
  border-left: 1px solid #61574f52;
  z-index: -1;
}

.menuDropdownRight::before {
  content: '';
  position: absolute;
  top: 15px; /* Adjust based on your needs */
  left: -5px; /* Adjust based on your needs */
  width: 10px;
  height: 10px;
  background-color: #1f1f1f;
  transform: rotate(45deg);
  border-bottom: 1px solid #61574f52;
  border-left: 1px solid #61574f52;
  z-index: -100;
}

.drawerLink {
  display: block;
  padding: rem(8px) 0;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.drawerSublink {
  display: block;
  padding: rem(4px) 0;
  padding-left: rem(12px);
  color: #aaa;
  text-decoration: none;
}


.searchButton {
  background-color: #1f1f1f; /* Light background color */
  border: 1px solid #424242; /* Border color */
  padding: 10px 20px 10px 10px; /* Padding around text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px; /* Font size */
  border-radius: 10px; /* Rounded corners */
  width: 300px;
  height: auto;
}.searchButton:hover{
  background-color: #424242;
}
.searchContent {
  display: flex;
  align-items: center;
}
.searchIcon{
  color: #828282;
}
.searchText {
  color: #828282;
  margin-left: 8px; /* Space between icon and text */
  margin-right: auto; /* Push "ctrl + k" to the right */
}

.shortut {
  background-color: #000; /* Black background for shortcut */
  color: #c9c9c9; /* White text color */
  border-radius: 5px; /* Rounded corners */
  padding: 6px 6px; /* Padding inside shortcut */
  font-size: 12px; /* Font size for shortcut */
  margin-left: 100px;
}

.searchRight {
  display: flex;
  align-items: center;
  gap: 4px; /* Space between icon and text */
}
@media screen and (max-width: 1125px) {
  .logo {
    width: 150px;
    height: auto; /* or specify a height if needed */
  }
    .butt{
      width: 110px;
      height: 38px;
      font-size: 12px;
    }


}




@media screen and (max-width: 1253px) {

  .link{
    font-size: 14px;
  }
  .linkLabel {
    font-size: 14px;

  }
}

@media screen and (max-width: 1253px) {
  .right{
    padding-left: 50px;
  }




}


@media screen and (max-width: 975px) {
    .butt{
      display: none;
    }

    .link{
      font-size: 15px;
      padding-left: 10px;

    }
    .linkLabel {
      font-size: 15px;
      padding-left: 20px;

    }
    .right{
      translate: 0px;
      width: 135px;
    }
}
@media screen and (max-width: 870px) {
  .link{
    font-size: 15px;
    padding-left: 1px;

  }
  .linkLabel {
    font-size: 15px;
    padding-left: 0px;

  }
}
@media screen and (max-width: 767px) {

  .right{
    translate: 110px;
    width: 135px;
  }
}
@media screen and (max-width: 737px) {

  .right{
    display: none;  }
}


@media (max-width: 1353px) {
  .scrolled .right {
    display: none;
  }

}

@media (max-width: 870px) {
.searchButton{
  width: 240px;
}
.searchRight{
  translate: 30px;
}
.shortut{
  translate: -40px;
}
}

@media (max-width: 768px) {
  .searchButton{
     display: none;
  }
  }



  .customDrawer {
    /* Hide the scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .customDrawer::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }