

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 100px 0 100px 0;
}


.wrapper {
  width: 100%;
  max-width: 1100px; /* Adjust as needed */
  position: relative;
  min-height: 400px;
  background-color: #1f1f1f;
  border-radius: var(--mantine-radius-xl);
  padding: calc(var(--mantine-spacing-xl) * 2.5);

  @media (max-width: 600px) {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  }
}


.title {
  font-family: var(--mantine-font-family);
  color: var(--mantine-color-white);
  line-height: 1;
}

.description {
  color: var(--mantine-color-blue-0);
  max-width: 300px;

  @media (max-width: 600px) {
    max-width: 100%;
  }
}

.form {
  
  background-image: linear-gradient(
    -90deg,
    rgb(187, 145, 9) 20%,
    var(--mantine-color-orange-6) 50%,
    rgb(224, 81, 15) 100%
  );
  padding: calc(var(--mantine-spacing-xl) * 1.1);
  border-radius: var(--mantine-radius-lg);
  box-shadow: var(--mantine-shadow-lg);
}

.social {
  color: var(--mantine-color-white);

  &:hover {
    color: rgb(156, 73, 4);
  }
}

.input {
  border-radius: 10px;
  background-color: #2e2e2e;
  padding: 10px;
  color: var(--mantine-color-white);

  &::placeholder {
    color: #696969;
  }
}

.inputLabel {
  border-color: black;
  font-size: large;
  color: white;
}

.control {
  border-radius: 10px;
  background-color: rgb(48, 43, 43);

  &:hover{
    background-color: #201f1f;
    transform: scale(1.1);
  }
}
