/* Screener.module.css */

.economiCalendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the content horizontally */
  justify-content: center;
  width: 100%; /* Full width of the parent container */
  padding: 20px;
  padding-top: 50px; /* Add padding to the top */
  background-color: black;
}

.forexCrossRatesWidget {
  width: 90%; /* Set width to control the size of the widget */
  max-width: 1000px; /* Max width to prevent excessive stretching on large screens */
  margin: 0 auto; /* Center the widget horizontally */
  height: 420px; /* Set the height to match the iframe */
  display: flex;
  justify-content: center; /* Center the iframe horizontally */
  padding-top: 20px; /* Optional: Add more padding at the top of the widget */
}

.forexCrossRatesWidget iframe {
  width: 100%; /* Ensure iframe takes full width of its container */
  height: 100%; /* Ensure iframe takes full height of its container */
}
